<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>App | MST</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="https://kit.fontawesome.com/b34b5d1c32.js" crossorigin="anonymous"></script>
</head>