<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand" href="#">M-Business</a>
	
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	
		<div class="collapse navbar-collapse" id="mainNavbar">
			<ul class="navbar-nav me-auto">
				<li class="nav-item"><a class="nav-link" href="/">Servicios</a></li>
				<li class="nav-item"><a class="nav-link" href="/">Acerca de</a></li>
				<li class="nav-item"><a class="nav-link" href="/">Contacto</a></li>
			</ul>
			<ul class="navbar-nav align-items-center">
				<% if (locals.isLogged) { %>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="dropUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<img src="/images/avatars/<%= locals.userLogged.avatar %>" width="40" style="border-radius: 100%;">
							Hi <%= locals.userLogged.fullName %> 
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/user/profile"><i class="fa-solid fa-id-badge"></i> Mi perfil</a>
							<li><hr class="dropdown-divider"></li>
							<a class="dropdown-item" href="/user/logout"><i class="fa-solid fa-user-xmark"></i> Salir</a>
						</ul>
					</li>
				<% } else { %>
					<li class="nav-item"><a class="nav-link" href="/user/register"><i class="fa-solid fa-user-plus"></i> Registarse</a></li>
					<li class="nav-item"><a class="nav-link" href="/user/login"><i class="fa-solid fa-right-to-bracket"></i> Inicia sesión</a></li>
				<% } %> 
			</ul>
		</div>
	</div>
</nav>