<!DOCTYPE html>
<html lang="es">
<%- include('partials/head'); %>
<style>
	.banner-img {
		height: 600px;
		object-fit: cover;
	}
</style>
<body>
	<%- include('partials/navbar'); %>
	
	<!-- Main-banner -->
	<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
		<ol class="carousel-indicators">
			<li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
			<li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
			<li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img class="d-block w-100 banner-img" src="/images/img-banner-01.png" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="d-block w-100 banner-img" src="/images/img-banner-02.jpg" alt="Second slide">
			</div>
			<div class="carousel-item">
				<img class="d-block w-100 banner-img" src="/images/img-banner-03.png" alt="Third slide">
			</div>
		</div>
		<a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</a>
		<a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</a>
	</div>
	<!-- //Main-banner -->
	
	<%- include('partials/footer'); %>
</body>
</html>